/log
/__pycache__/
**/__pycache__/
/migrations
.idea/*
logs/
tmp/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
/.mypy_cache/